 

body {
    
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cartao {
    width: 450px;
    height: 300px;
    background-image: url("e0986c5d34d1cf75ca86b8720b335a8d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

h1 {
    color: rgb(226, 192, 43);
    text-align: center;
}

div p{
    font-style: normal;
    font-size: larger;
    font-weight: bold;
}

p {
    color: rgb(226, 192, 43);
    text-align: center;
    text-decoration:solid;
    font-style: italic;

}

button {
    background-color: black;
    color: rgb(226, 192, 43);
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
}

